<!-- Footer -->
            <footer id="page-footer" class="opacity-0">
                <div class="content py-20 font-size-xs clearfix">
                    <div class="float-left">
                        <a class="font-w600" href="https://goo.gl/po9Usv" target="_blank">oumaima sabi</span>
                    </div>
                </div>
            </footer>
        </div>

        {% block javascripts %}
            <script src="../js/core/jquery.min.js"></script>
            <script src="../js/core/popper.min.js"></script>
            <script src="../js/core/bootstrap.min.js"></script>
            <script src="../js/core/jquery.slimscroll.min.js"></script>
            <script src="../js/core/jquery.scrollLock.min.js"></script>
            <script src="../js/core/jquery.appear.min.js"></script>
            <script src="../js/core/jquery.countTo.min.js"></script>
            <script src="../js/core/js.cookie.min.js"></script>
            <script src="../js/codebase.js"></script>
            <script src="js/plugins/slick/slick.min.js"></script>
            <script>
                jQuery(function () {
                    Codebase.helpers('slick');
                });
            </script>   
        {% endblock %}

        
    </body>
</html>